#delete {
    background-color: #f44336;
}

html {
    overflow-y: hidden;
}

nav {
    position: fixed;
}

button {
    height: 11.11%;
}

div.navbar {
    height: 100%;
}

div.performer-editor {
    display: inline-block;
}

div.drill-editor {
    display: inline-block;
    margin: 0px 10px;
}

div.drill-editor-panel {
    width: 100%;
}

#sidetoside {
    display: inline-flex;
}

#sampleLoadData {
    text-align: center;
    margin-left: 20px;
    float: right;
}
<<<<<<< HEAD

#sample1 {
    height: 80%;
}

div.setNav {
    display: block;
=======
#sample1 {
    height: 80%;
>>>>>>> d71efbd076a25fd4fd78a0dcf91710a4c30e14f2
}